:root {
    --circus-lighter: #e2f3f0;
    --circus-light: #ffedd3;
    --circus-light-primary:#ffe9e7;
    --circus-dark:#e0e5ec;
    --circus-light-accent:#e3f1f0;
    --circus-primary:#4bc082;
    --circus-accent:#ec6c5b;
}

.header-banner{
    background-color: var(--circus-accent);
    color: white;
}